h1 {
  text-align: center;
}
.main-app {
  display: flex;
  flex-direction: row;
}

.video-player {
  display: flex;
  justify-content:center;
  flex: 6;
}

.wrap-player {
  display: flex;
  justify-content: center;
  flex: 1;
}

iframe {
  width: 50%;
}

.videolist {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2%;
}
.video-list-wrap {
  display: flex;
  flex-direction: column;
}
.videos {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 1;
}
